# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

*.swp
examples/external/wasm/wazero/memory/memcopy/rs-memcopy/target
examples/external/wasm/wazero/simple/sin/rs-sin/target
examples/external/wasm/wazero/memory/gz2json2proto/rs-gz2json2proto/target
examples/external/wasm/wazero/memory/gz2json2proto/rs-gz2json2proto/node_modules
examples/external/wasm/wazero/memory/gz2json/rs-gz2json/target
examples/external/net/grpc/compress/bytes2bzip2/rs-bytes2bzip2/target
examples/external/net/grpc/compress/bytes2bzip2/rs-bytes2bzip2/node_modules
examples/external/net/grpc/cpp/str2len/rs-helper/target
